{% extends 'enroll/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-10 offset-1">
        <h4 class="text-center alert alert-info">Add new product</h4>
        <form action="" method="post" enctype="multipart/form-data" id="postCreateForm">
            {% csrf_token %}
            <p>{{ form.as_p }}</p>
            
            <input type="submit" value="Add" class="btn btn-success">
            <input type="reset" value="Reset" class="btn btn-danger">

            <a href="{% url 'view_order_items' %}" class="btn btn-info">Back to Inventory</a>
        </form>
    </div>
</div>
{% endblock content %}

