{% extends 'enroll/base.html' %}
{% block content %}

<div class="col-sm-12">

    {% if prod %}
    <h4 class="text-center alert alert-info">Product inventory</h4>
    <div class="input-group rounded">

        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Sr.no</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>no_of_sets <br />(linked with orders)</th>
                    <th>no_of_piece_per_set</th>
                    <th>Actions</th>
                </tr>
                
                {% for each_product in prod %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{each_product.inventory_products}}</td>
                    <td>{{each_product.inventory_products.price}}</td>
                    <td>{{each_product.no_of_sets}}</td>
                    <td>{{each_product.no_of_piece_per_set}}</td>
                    <td>
                        <a href="{% url 'update_inventory_item' each_product.id %}" class="btn btn-warning">Edit</a>
                        <form action="{% url 'delete_inventory_item' each_product.id %}" class="d-inline" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-warning">
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </th>
            </tbody>
            
        </table>
        {% else %}
        <h4 class="text-center alert alert-info">No Products added</h4>

        {% endif %}
    </div>
</div>
{% endblock content %}