{% extends 'enroll/base.html' %}
{% block content %}
<div class="row">
<div class="col-sm-4">
    <h4 class="text-center alert alert-info">Add new product</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add" class="btn btn-success">
    </form>
</div>
<div class="col-sm-8">
    {% if prod %}
    <h4 class="text-center alert alert-info">Poduct inventory</h4>
    
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>type</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            
            {% for each_product in prod %}
            <tr>
                
                <td>{{each_product.id}}</td>
                <td>{{each_product.name}}</td>
                <td>{{each_product.type}}</td>
                <td>{{each_product.category}}</td>
                <td>
                    <a href="{% url 'update_product' each_product.id %}" class="btn btn-warning">Edit</a>
                    <form action="{% url 'delete_product' each_product.id %}" class="d-inline" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-warning">
                    </form>
                </td>
            </tr>
            {% endfor %}
            </th>
        </tbody>
        
    </table>
    {% else %}
    <h4 class="text-center alert alert-info">No Products added</h4>

    {% endif %}
</div>
</div>
{% endblock content %}